name: Deploy to Docker Hub & Easypanel

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build e Push da Imagem
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: suportereipcp/eancodigodebarras:latest
          # AQUI: Injetamos as chaves na construção
          build-args: |
            NEXT_PUBLIC_SUPABASE_URL=${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
            NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}

  trigger-easypanel:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Avisar Easypanel
        # MANTENHA O SEU LINK DE WEBHOOK AQUI ABAIXO:
        run: curl -X POST "http://177.200.78.209:3000/api/deploy/7b0486e341dfb75725b1db464576e89c989ce01e4a5e7d16"